<a href="#" id="lnkShowForm" style="display:none;">Display form</a>
                        <div id="textBlock">
                            <label>Input text</label>
                            <textarea id="text" style="width:100%;height:200px;" placeholder="paste your text here..."></textarea>
                            <button id="btnAnalyze">Analyze</button>
                        </div>
                        <div id="resultsBlock" style="display:none">
                            <div><label>Words count: </label><span id="spWordsCount"></span></div>
                            <table border="1px" id="results" class="table" width="100%">
                                <thead>
                                    <tr>
                                        <th>Word</th>
                                        <th>Frq</th>
                                        <th>Translation</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr></tr>
                                </tbody>
                            </table>
                        </div>